*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #C2E2D7;
    background-image: url("../img/Best-Web-Design-Tools-2016-shutterstock_265645031-Max-Griboedov.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar{
    position: fixed;
    height: 5.5vw;
    width: 100%;
    background-color: darkslategrey;
    z-index: 4;
}

.nav-align{
    line-height: 5.5vw;
}

.name{
    font-family: 'Courgette', cursive;
    font-size: 50px;
    font-weight: 300;
    color: #D25946;
    margin-left: 45px;
    float: left;
}
.title{
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #1E1E1E;
    margin-left: 45px;
}
.links{
    float: right;
    list-style: none;
    margin-right: 25px;
    padding-top: 15px;
}

.toplink{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Merriweather';
}

.toplink a{
    text-decoration: none;
    color: silver;
}

span{
    display: inline-block;
}

/*-----------------------ABOUT PAGE--------------*/
.home-section{
    margin-bottom: 20px;
}

.container{
    padding-bottom: 20px;
}

.home-container{
    padding-top: 50px;
    padding-bottom: 60px;
}

.welcome{
    text-align: center;
}

#myPic{
        height: 250px;
        width: 285px;
        border: 7px dimgray solid;
        border-radius: 46%;
        float: right;
        margin-right: 17px;
        margin-top: 10%;
    }
}

.aboutMe{
    position: relative;
    max-height: 350px;
    overflow-y: scroll;

    float: left;
    padding: 20px;
    padding-bottom: 0;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 145px;
    background-color: rgba(247, 247, 247, 0.9);
}

.about-me-title{
    text-decoration: underline;
    margin-bottom: 15px;
    font-size: 22px;
}

.aboutMe-heading{
    margin-bottom: 20px;
    font-size: 36px;
}

p{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.project-link, .contact-link{
    color: #D25946;
}

.opacity{
    height: 80vh;
}
